.login {
    font-family: sans-serif;
    font: oblique;
    margin-left: 500px;
    margin-top: 250px;
    flood-color: lawngreen;   
}

.body {
    background-color: slategray;
    font: white;
}

input {
    padding: 13px;
}

.form {
    margin: 0px auto;
    max-width: 400px;
}

.out_put {
    text-align: right;
    width: 100%;
    }